<p id="notice"><%= notice %></p>

<p>
  <strong>Github:</strong>
  <%= @repo.provider_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @repo.name %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @repo.full_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @repo.description %>
</p>

<p>
  <strong>Private:</strong>
  <%= @repo.private %>
</p>

<p>
  <strong>Fork:</strong>
  <%= @repo.fork %>
</p>

<%= link_to 'Back', repos_path %>
