%p{:class => "event-issue-action-#{github_event.payload.action.underscore.dasherize}"}
  = github_event.payload.action.titlecase
  issue #{github_event.repo.name}##{github_event.payload.issue.number}
  %var= github_event.payload.issue.title
